body {
    height: 100%;
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

.body {
    overflow: hidden;
}

#guid-btn {
    position: absolute;
    top: 50vw;
    height: 10vw;
    right: 0;
}

#modal {
    display: none;
    position: fixed;
    top: 25vw;
    z-index: 3;
    text-align: center;
}

#close-btn {
    margin-top: 5vw;
    height: 10vw;
}

#rules {
    background-image: url(./img/Leaderboard-Bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 2vw;
    font-size: 5vw;
    color: white;
    text-align: start !important;
}

#sub-title {
    width: 95vw;
    margin: 0 auto;
    position: relative;
    top: -22vw;
    background-image: url(./img/Subtitle.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 15vw;
}

#reward-banner {
    background-image: url(./img/Rewards-Bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 95vw;
    margin: 0 auto;
    margin-bottom: 4vw;
}

#reward-content {
    position: relative;
    top: -11vw;
}

.reward-text {
    width: 95vw;
}

.rule-text {
    position: relative;
    top: -10vw;
    width: 95vw;
}

#rules-des {
    padding: 0 5vw 5vw;
    margin-top: -5vw;
}

#reward-gift {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    margin-top: 5vw;
    justify-content: space-evenly;
}

#reward-des {
    color: white;
    font-size: 6vw;
    text-align: center;
    font-weight: bold;
}
#beans{
    height: 5vw;
    margin-left: 1vw;
}
#description {
    color: white;
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 5vw;
    width: 70vw;
    margin: 0 auto;
}

.dot {
    cursor: pointer;
    color: white;
    height: 1.5vw;
    width: 1.5vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0.2vw;
}

.active {
    height: 2.1vw;
    width: 2.1vw;
}

/* footer */
#footer {
    padding: 20vw 0 5vw;
    text-align: center;
    font-size: 4vw;
    color: white;
}